*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    /* background-image:url(classphoto.jpeg);
    margin: 0;
    background-size: 100% 100%; */
    /* background-repeat: no-repeat; */
    background-color: #1e1e1e; 
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color:#a0a0a0;
    line-height: 1.6;
    padding:60px;
}

.main-container{
    display: flex;
    max-width: 1200px;
    flex-direction: column;
    gap: 40px;
    padding-bottom: 40px;
    margin:auto;
}
.slidebar{
    height: auto;
    background-color: #2a2a2a;
    border:#3a3a3a solid 1px;
    border-radius: 16px;
    padding: 35px 45px;
}
.maincontent{
    background-color: #2a2a2a;
    border:#3a3a3a solid 1px;
    border-radius: 16px;
    padding: 40px;
}

/* profile section */
.profile{
    text-align: center;
}

.profile img{
    width:120px;
    height:120px;
    border-radius: 50%;
    object-fit: cover;
}

.profile h2{
    font-size: 1.8rem;
    font-weight: 700;
    margin-top: 10px;
    color:#e0e0e0;
}
.profile p{
    background-color: #3a3a3a;
    color:rgb(140, 220, 20);
    padding: 5px 15px;
    border: 1px solid #3a3a3a;
    border-radius: 8px;
    font-size: 0.8rem;
    display: inline-block;
    margin-top: 10px;
}


/* Contact section*/
.contact{
    margin-top:30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
}

.label{
    font-weight: 500;
    font-size: 0.8rem;
    color: #a0a0a0;
}
.value{
    color: #a0a0a0;
    text-decoration: none;
}

.email,.phone{
    margin-bottom: 15px;
}

/* social media section */

.social-media{
    margin-top:30px;
    border-top: 2px solid #3a3a3a;
    padding-top: 20px;
    text-align:center;
}

.social-media img{
    height: 24px;
    width: 24px;
    margin-right: 10px;
    filter: grayscale(1) invert(0.7);
    transition: filter 0.3s ease;
}

.social-media img:hover{
    filter: grayscale(0) invert(0);
}

/* Main content section */
/* navigation bar */
#navigation{
    border-bottom: 2px solid #3a3a3a;
    margin-bottom: 20px;
    padding-bottom: 20px;
}

nav{
    display: flex;
    justify-content: flex-end;
    gap: 20px;
}

nav a{
    text-decoration: none;
    color: #a0a0a0;
    font-weight: 500;
    transition: color 0.3s ease;
}

.active, nav a:hover{
    color:aquamarine;
}

/* about me section */
.heading{
    color: #e0e0e0;
    font-size: 2rem;
    margin-bottom: 15px;
}

.line {
  width: 40px;
  height: 5px;
  background-color: rgb(87, 208, 217); /* replaces color */
  margin-bottom: 15px;
}

.content{
    text-align: justify;
    color: #a0a0a0;
}

#about{
    margin-bottom:40px;
}
/* Skills section */
.grid-container{
    display: grid;
    grid-template-columns:repeat(auto-fit, minmax(120px, 1fr));
    gap:  30px;
}

.item{
    padding: 20px;
    border-radius: 10px;
    border: 2px solid #3a3a3a;
    background-color: #1e1e1e;
    text-align: center;
    margin-top: 20px;
    transition: transform 0.3 ease, boxshadow 0.3 ease;
}

.item img{
    height: 48px;
    width: 48px;
    filter: invert(75%) sepia(50%) saturate(1000%) hue-rotate(350deg) brightness(110%) contrast(101%);
    margin-bottom: 15px;
}

.item h3{
    font-size: 1rem;
    font-weight: 500;
}

.item:hover{
    transform: scale(1.1);
    box-shadow: 0px 0px 10px 5px rgba(0,0,0,0.3);
}

/* Education Section */

#education{
    margin-top: 30px;
}

.edtech{
    position: relative;
}
.year{
    font-size: 0.9rem;
    color: #a0a0a0;
    margin-bottom: 5px;
}

.degree{
    color:#e0e0e0;
    font-size:1.2rem;
    font-weight: 500;
    margin-bottom: 5px;
}

.college{
    font-style:italic;
    color:#a0a0a0;
    margin-bottom: 10px;
}

.work{
    color:#a0a0a0;
}

.edfirst, .edsecond{
    margin-bottom:30px;
    padding-left:25px;
    position:relative;
}

.edthird{
    margin-bottom:30px;
    padding-left:30px;
    position:relative;
}

.goal{
    z-index: 5;
    height:15px;
    width:15px;
    border-radius:50%;
    border: 3px solid #FFBF00;
    position:absolute;
    top:5px;
    left:0px;
}

.liner{
    position:absolute;
    width: 2px;
    top:0px;
    bottom:0px;
    left: 5px;
    border: 2px solid #3a3a3a;
}